# General macOS files
.DS_Store
*.DS_Store

# Xcode specific files
*.xcuserdata
*.xcworkspace
*.xcsettings
DerivedData/
.idea/
*.mode1v3
*.pbxuser

# Logs and temporary files
*.log
*.tmp

# Build artifacts
build/
*.o
*.a
*.so
*.dSYM

# CocoaPods specific files
Pods/
Podfile.lock
project.xcworkspace/

# SPM specific files
.build/
Package.resolved

# Carthage specific files
Carthage/Build/

# XCFrameworks (exclude the ones you want to include)
!*.xcframework

# Ignore unnecessary metadata and files inside XCFrameworks
*.swp
*.swo
*.swx
*.xcframework.zip

# Git-related files
.git/
.gitignore

# Ignore generated documentation
Documentation/

# Optional: If you're generating or uploading archives
*.zip
*.tar.gz
*.tgz
